AETHER_DERIV_PAT=
AETHER_DERIV_APP_ID=
# AETHER_DERIV_ACCOUNT_ID=

AETHER_PG_USER=aether
AETHER_PG_PASSWORD=aether
AETHER_PG_DB=aether
AETHER_MINIO_ACCESS_KEY=aether
AETHER_MINIO_SECRET_KEY=aethersecret
