AETHER_DERIV_PAT=
AETHER_DERIV_APP_ID=
# AETHER_DERIV_ACCOUNT_ID=

AETHER_PG_USER=aether
AETHER_PG_PASSWORD=aether
AETHER_PG_DB=aether
AETHER_MINIO_ACCESS_KEY=aether
AETHER_MINIO_SECRET_KEY=aethersecret

AETHER_TRITON_HTTP=localhost:8000
AETHER_TRITON_GRPC=localhost:8001
AETHER_META_CLASSIFIER_HTTP=http://localhost:8005
AETHER_DOCKER_HEALTH_TIMEOUT=300

DOCKER_PROFILES=core,gpu,ml
DOCKER_GPU=1
